/* Main */
.contContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content{
  width: 31.25rem;
  top: 1.8rem;
  position: relative;
}

.content .womans{
  position: absolute;
  z-index: 3;
}

.content .cell{
  position: absolute;
  z-index: 2;
}

.content .cellPhoneHand{
  position: relative;
  z-index: 1;
}

.content h1{
  margin-top: 10px;
}

.content h2{
  margin-top: 6px;
  font-family: Arial;
  color: #b2b2b2;
  font-size: 13px;
}

h3{
  margin-top: 1rem;
  padding-bottom: 7px;
  font-family: Arial;
  color: #b2b2b2;
  font-size: 11px;
  font-style: italic;
}

/* Secondary */
.grid{
  display: grid;
  grid-template-columns: repeat(2, 16.57rem);
  width: 31.25rem;
  margin-top: 4rem;
}

.grid h1{
  font-family: Arial;
  font-size: 18px;
}

/* KOBE */
.boxK{
  position: relative;
}

.boxK .kobe{
  position: absolute;
  z-index: 4;
}

.boxK .boxWater{
  position: absolute;
  z-index: 3;
}

.boxK .boxHope{
  position: absolute;
  z-index: 2;
}

.boxK .dish{
  position: relative;
  z-index: 1;
}

/* WHATSAPP */
.boxW{
  position: relative;
}

.boxW .whats{
  position: absolute;
  z-index: 8;
}

.boxW .whatLogo{
  position: absolute;
  z-index: 7;
}

.boxW .chinW{
  position: absolute;
  z-index: 6;
}

.boxW .sham{
  position: absolute;
  z-index: 5;
}

.boxW .gift{
  position: absolute;
  z-index: 4;
}

.boxW .father{
  position: absolute;
  z-index: 3;
}

.boxW .cellBox{
  position: absolute;
  z-index: 2;
}

.boxW .people{
  position: relative;
  z-index: 1;
}

/* Borders */
.Pinkborder {
  border-bottom: 4px solid;
  width: 15.63rem;
  border-image: linear-gradient(276deg, rgba(0,212,255,1) 0%, rgba(209,0,255,1) 38%, rgba(255,0,0,1) 100%);
  border-image-slice: 20%;
}

.Blueborder{
  border-bottom: 4px solid;
  width: 9.38rem;
  border-image: linear-gradient(114deg, rgba(119,200,208,1) 0%, rgba(103,96,166,1) 78%);
  border-image-slice: 10%;
}

.Greenborder{
  border-bottom: 4px solid;
  width: 9.38rem;
  border-image: linear-gradient(114deg, rgba(119,200,208,1) 0%, rgba(57,179,135,1) 69%);
  border-image-slice: 20%;
}