.header{
  background-image: url("../static/header/Rectangle.png") ;
  padding: 70px 300px;
  position: relative;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header .halfCircle{
  position: absolute;
  top: 20px;
  left: 0px;
  z-index: 1;
}
.header .shapes{
  position: absolute;
  top: 3px;
  right: 20px; 
}
.header .manTre{
  position: absolute;
  top: 40px;
  left: 30px;
  z-index: 2;
}

.header .arrows{
  position: absolute;
  top: 10px;
  left: 285px;
  z-index: 3;
}

.header .edition{
  position: absolute;
  top: 30px;
  right: 40px; 
  z-index: 4;
}
/* 570px  começa a achatar*/