header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header{
  background-image: url("../static/header/Rectangle.png") ;
  padding: 4.38rem 18.75rem;
  position: relative;
}

.header .halfCircle{
  position: absolute;
  top: 1.25rem;
  left: 0;
}

.header .shapes{
  position: absolute;
  top: 3px;
  right: 1.25rem; 
}

.header .manTre{
  position: absolute;
  top: 2.5rem;
  left: 1.88rem;
  z-index: 2;
}

.header .arrows{
  position: absolute;
  top: 10px;
  left: 17.82rem;
  z-index: 3;
}

.header .edition{
  position: absolute;
  top: 1.88rem;
  right: 2.25rem; 
  z-index: 4;
}
/* 570px  começa a achatar*/